<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<script src="js/main.js"></script>
</body>
</html>