<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title <%=title %>
	link(rel="stylesheet", href="css/main.css")
body
	include include/header
	include include/footer
	script(src="js/main.js")